<h1>Avianorders</h1>

<% @avianorders.each do |avianorder| %>
  <h2><%= avianorder.order %></h2>
  <p><%= avianorder.families %></p>
  <p><%= avianorder.anisodactyl %></p>
  <p><%= avianorder.didactyl %></p>
  <p><%= avianorder.tridactyl %></p>
  <p><%= avianorder.zygodactyl %></p>
<% end %>  