<h1>Avian Orders</h1>

<% @avianorders.each do |avianorder| %>
  <h2><%= link_to avianorder.order, "/avianorders/#{avianorder.id}/birds" %></h2>
  <p>Families: <%= avianorder.families %></p>
  <p>Anisodactyl: <%= avianorder.anisodactyl %></p>
  <p>Didactyl: <%= avianorder.didactyl %></p>
  <p>Tridactyl: <%= avianorder.tridactyl %></p>
  <p>Zygodactyl: <%= avianorder.zygodactyl %></p>
  <p> Created_at: <%= avianorder.created_at %></p>
  <p><%= link_to "Update Avian Order", "/avianorders/#{avianorder.id}/edit" %></p>
  <p><%= button_to "Delete #{avianorder.order}", "/avianorders/#{avianorder.id}", method: :delete %></p>

<% end %>  

<p><%= link_to "Add New Avian Order", "/avianorders/new" %></p>

