<h1>Avianorders</h1>

<% @avianorders.each do |avianorder| %>
  <h2><%= avianorder.order %></h2>
  <p>Families: <%= avianorder.families %></p>
  <p>Anisodactyl: <%= avianorder.anisodactyl %></p>
  <p>Didactyl: <%= avianorder.didactyl %></p>
  <p>Tridactyl: <%= avianorder.tridactyl %></p>
  <p>Zygodactyl: <%= avianorder.zygodactyl %></p>
  <p> Created_at: <%= avianorder.created_at %></p>
  <p><%= link_to "Update Avian Order", "/avianorders/#{avianorder.id}/edit" %></p>
<% end %>  

<p><%= link_to "Add New Avian Order", "/avianorders/new" %></p>
