<%= link_to "List of Avian Orders", "/avianorders" %>
<%= link_to "List of Birds", "/birds" %>
<p>ID: <%= @avianorder.id %></p>
<p>Order: <%= @avianorder.order %></p>
<p>Families: <%= @avianorder.families %></p>
<p>Anisodactyl: <%= @avianorder.anisodactyl %></p>
<p>Didactyl: <%= @avianorder.didactyl %></p>
<p>Tridactyl: <%= @avianorder.tridactyl %></p>
<p>Zygodactyl: <%= @avianorder.zygodactyl %></p>
<p>Number_of_Birds: <%= @avianorder.birds.length %></p>

<%= link_to "List of Birds in #{@avianorder.order}", "/avianorders/#{@avianorder.id}/birds" %>
