<h1>Avianorders and their Birds</h1>

<% @birds.each do |bird| %>
  <h2><%= bird.name %></h2>
  <%= link_to bird.name, "/birds/#{bird.id}" %>
  <p> Population: <%= bird.population %></p>
  <p> Migratory: <%= bird.migratory %></p>
  <p> sexual_dichromatism: <%= bird.sexual_dichromatism %></p>
<% end %>  

<%= link_to "List of Birds", "/birds" %>