<h1>Avianorders and their Birds</h1>

<% @birds.each do |bird| %>
  <h2><%= bird.name %></h2>
  <%= link_to bird.name, "/birds/#{bird.id}" %>
  <p><%= bird.population %></p>
  <p><%= bird.migratory %></p>
  <p><%= bird.sexual_dichromatism %></p>
<% end %>  