<h1>Birds</h1>

<% @birds.each do |bird| %>
  <h2><%= bird.name %></h2>
  <p>Population: <%= bird.population %></p>
  <p>Migratory: <%= bird.migratory %></p>
  <p>Sexual Dichromatism: <%= bird.sexual_dichromatism %></p>
  <p><%= link_to "Update Bird", "/birds/#{bird.id}/edit" %></p>
  <p><%= button_to "Delete #{bird.name}", "/birds/#{bird.id}", method: :delete %></p>

<% end %>  

