<p>Avian_order: <%= @bird.avian_order.order %></p>
<p>ID: <%= @bird.id %></p>
<p>Name: <%= @bird.name %></p>
<p>Population: <%= @bird.population %></p>
<p>Migratory: <%= @bird.migratory %></p>
<p>Sexual_dichromatism: <%= @bird.sexual_dichromatism %></p>

<%= link_to "List of Birds", "/birds" %>
